{# templates/index.html #}
{% extends "base.html" %}
{% block title %}ReadMe — платформа курсов{% endblock %}

{% block content %}
<div class="container-xl">
    <div class="section-header d-flex justify-content-between align-items-center flex-wrap">
        <h1 class="section-title">Курсы</h1>
        <button class="filters-btn" id="myCoursesBtn" style="display: none;">Мои курсы</button>
        <button class="filters-btn" id="manageCoursesBtn" style="display: none;">Мастерская курсов</button>
        <button class="filters-btn" id="filtersBtn">Фильтры</button>
    </div>
    <div class="courses-grid row g-5 row-cols-1 row-cols-md-2 row-cols-lg-3 mb-5" id="coursesGrid">
        <!-- Заполняется через JavaScript -->
    </div>

    <!-- Пагинация в едином стиле -->
    <div id="paginationContainer" class="mt-4"></div>
</div>
{% endblock %}

{% block scripts %}
<script>window.API_BASE_URL = "{{ api_base_url }}";</script>
<script src="../static/script.js"></script>
{% endblock %}