[run]
source = app/service
branch = True

omit =
    */__init__.py,
    venv,
    .venv,


[report]
fail_under = 60
precision = 2

exclude_lines =
    if __name__ == .__main__.:

show_missing = True

sort = Cover

[html]
directory = tests/reports/coverage/html

[xml]
output = tests/reports/coverage/xml/coverage.xml